/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,*:before,*:after{
    box-sizing: border-box;
}


img{
    max-width: 100%;
    height: auto;
    display: block;
}
.contain{
    max-width: 1140px;
    padding: 0 0px;
    margin: 0 auto;
    
}
.header{
    display: flex;
    justify-content: space-between;
}
.header .menu{
    display: flex;
    /* justify-content: flex-end; */
}
.header .menu em{
    display: none;
}
.m-nono{
    /* margin-right: 30.1px; */

}
.material-icon{
    display: inline-block;
    font-size: 20px;
    line-height: 1.5;
    margin: 2px;
}
/* .header .menu a{ 
    display: block;
    padding: 10px;
}*/
.header .menu li a {
    
    display: inline-block;
    font-size: 20px;
    line-height: 1.5;
    padding: 16px;
    color: rgb(160, 160, 160);
    text-align: center;
    font-weight: bold;
    text-decoration: none;
}
.header .menu li a:hover{
    background-color: rgb(160, 160, 160);
    color: #fff;
}
.header .ham{
    display: none;
}
.header .hambtn{
    display: none;
}
.hambtn .cart{
    position:relative;
}

.bar-start{
    max-width: 1920px;
    width: 100%;
    height: 52px;
    background-color: #916000;
    margin-bottom: 80px;
}
.menu-start{
    display: flex;
    align-items: center;
    justify-content: start;
}
.menu-start li a{
    font: normal normal normal 20px/30px SF Pro Text;
    color: #fff;
    display: inline-block;
    padding: 16px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
}
.menu-start a:hover{
    background-color: #fff;
    color: #916000;
}
.main img{
    width: 255px;
    height: 255px;
}
.main h2{
    font: normal normal 600 24px/36px SF Pro Text;
}
.main p{
    font: normal normal 300 16px/24px SF Pro Text;
}
.main p span{
    text-decoration: line-through;
    font: normal normal 300 16px/24px SF Pro Text;
    color: #8D8D8D;
}
.row1{
    display: flex;
    justify-content: space-between;
}
.product{
    display: inline-block;
}
.main .option{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 58.65px;
}
.main .option .heart span{
    margin-right: 10px;
    color: #916000;
}
.main .option .shop span{
    color: #916000;
}
.link{
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}
.link .one, .two{
    margin-right: 20px;
}
.link .one{
    color: #916000;
}
.link .two, .three{
    text-decoration: none;
    color: #000000;
}
.endbanner{
    background: url("image/index10.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    background-size: 130%; 
}
.endbanner h6{
    font: normal normal 600 32px/48px PingFang TC;
    font-size: 32px;
    color: #8D8D8D;
}
.endbanner-title{
    padding-top: 312px;
}
.subscribe{
    margin-top: 20px;
    width: 350px;
    height: 60px;
    border:2px solid #916000; 
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.subscribe .emailinput{
    /* display: block; */
    background: #fff;
    padding-left: 16px;
    max-width: 219px;
    width: 100%;
    max-height: 60px;
    height: 100%;
}
.subscribe .btn{
    display: flex; 
    justify-content: center;
    align-items: center;
    background: #916000;
    color: #fff;
    max-width: 131px;
    width: 100%;
    max-height: 60px;
    height: 100%;
}
.btn:hover{
    background: darken(#f00, 50%);
    cursor: pointer;
}
.endbanner-bar{
    
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    background: #916000;
    height: 80px;
}
.endbanner-st{
    max-width: 1140px;
    display: flex;
    width: 343px;
    justify-content: space-between;
    align-items: center;
}
.endbanner-st img{
    height: 38px;
}
.endbanner-st p{
    color: #fff;
    font: normal normal medium 14px/21px SF Pro Text;
}
.endbanner-en{
    max-width: 1140px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.endbanner-en a{
    padding: 20px;
    text-decoration: none;
    /* margin-left: 36px; */
    color: #fff;
    font: normal normal normal 20px/30px SF Pro Text;
}
.endbanner-en a:hover{
    background-color: #fff;
    color: #916000;
}
@media(max-width: 768px){
    .contain{ 
        max-width: 768px;
        width: 100%;
        padding: 0px 15px;
        margin: 0 auto;
     }
    .main{
        flex-wrap: nowrap;
    }
    .main img{
        width: 165px;
        height: 165px;
        padding: 0px 7.5px;
    }
    .bar-start{
        display: none;
    }
    .header{
        margin-bottom: 42px;
    }
    .header .menu .art{
        width: 72px;
    }
    .header .menu span{
        display: none;
    }
    .header .ham li{
        color: #fff;
        background-color: #707070;
        border-bottom:2px solid #fff ;
    }
    .header .hambtn em{
        display: block;
        position: absolute;
        top: -10px;
        right: 0;
        background: #916000;
        color: #fff;
        border-radius: 100%;
    }
    .m-nono{
        display: none;
    }
    .header .menu{
        display: flex;
        justify-content: end;
    }
    .header .hambtn{
        display: block;
    }
    .header .cart{
        color: #8d8d8d;
        display: inline-block;
        margin-top: 10px;
        padding: 0px 10px;
    }
    .header .act{
        color: #8d8d8d;
        display: inline-block;
        margin-top: 10px;
        padding: 0px 10px;
    }
    .endbanner{
        background: url("image/index10.jpg");
        background-repeat: no-repeat;
        background-position: -70px 0px;
        height: 600px;
        background-size: 200%; 
    }
    .endbanner-en{
        display: none;
    }
    .endbanner-st{
        display: flex;
        justify-content: space-between;
    }
    .subscribe{
        max-width: 320px;
    }
    .emailinput{
        max-width: 200px;
        width: 100%;
    }
    .btn{
        max-width: 120px;
        width: 100%;
    }
}
