/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,*:before,*:after{
    box-sizing: border-box;
}


img{
    max-width: 100%;
    height: auto;
    display: block;
}
.contain{
    max-width: 1140px;
    margin: 0 auto;
    
}
body{
    font: normal normal 300 SF Pro Text;
    font-family: var(--bs-font-sans-serif);
    line-height: 1.5;
    font-size: 20px;
}
.header{
    position: relative;
    display: flex;
    justify-content: space-between;
}
.text-hide{
    text-indent: 101%;
    flex-wrap: nowrap;
    overflow: hidden;
}
.bg-logo{
    background-image: url(https://hexschool.github.io/webLayoutTraining1st/perfume-week6/d’Perfume.png);
    width: 128px;
    height: 38px;
}
.header .menu{
    display: flex;
    /* justify-content: flex-end; */
}
.header .menu em{
    display: none;
}

.material-icon{
    display: inline-block;
    margin: 2px;
}
/* .header .menu a{ 
    display: block;
    padding: 10px;
}*/
.header .menu li a {
    /* font-family:  "SF Pro"; */
    display: inline-block;
    padding: 16px;
    color: rgb(160, 160, 160);
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    align-items: center;
}
.header .menu li a:hover{
    /* background-color: rgb(160, 160, 160); */
    color: #AC8A46;
}
.header .ham{
  display: none;
}
.ham.active {
    max-height: 200px;
}
.ham li a {
    display: block;
    background: #AA0601;
    color: #FFFFFF;
    border-top: 1px solid #FFFFFF;
    padding: 16px 0;
    text-decoration: none;
}
.header .hambtn{
    display: none;
}
.hambtn .cart{
    position:relative;
}
.banner{
    height: 870px;
    background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/index1.jpg?raw=true");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #fff;
}
.box{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 1140px;
    width: 100%;
    max-height: 870px;
    height: 100%;
    padding: 0 15px;
    margin: 0 auto;

}
.banner-text{
    max-width: 445px;
}
.banner h2{
    font-size: 40px;
    font-weight: bold;
}
.banner p{
    font-size: 24px;
}
.banner .sec{
    margin-top: 16px;
    text-align: center;
    width: 350px;
    border: 2px solid #FFFFFF;
    
    border-radius: 30px;
}
.banner .sec:hover{
    background: #FFFFFF4D;
    cursor: pointer;
}
.banner .sec a{
    font-size: 36px;
    text-decoration: none;
    color: #fff;
    line-height: 60px;
    padding: 0 12px;
}
/* .topProduct-content{ 
    display: flex;
}*/
.product{
    margin-bottom: 60px;
    margin-top: 60px;
}
.topProduct-content h2{
    font-weight: bold;
    font-size: 32px;
}
.topProduct-content p{
   font-family: PingFang TC; 
}
.topProduct-content a{
    color: #AC8A46;
    font-size: 16px;
    text-decoration: none;
    font: 600 16px/24px PingFang TC;
}
.topProduct-content a:hover{
    text-decoration: underline;
    cursor: pointer;
}
.topProduct-img{
    display: block;
    
}
.topProduct-img img{
    width: 100%;
}

.text{
    
    max-width: 350px;
}
/* .img-fluid5{
    max-width: 555px;
    /* height: 1080px; */
} */
.topProduct-content-end{
    margin-top: 12px;
}
.topProduct-content-end h3{
    font-weight: bold;
    font-size: 24px;
}
.topProduct-content-end .detail{
    width: 350px;
    padding-right: 60px;
    font-size: 16px;
    padding-bottom: 52px;
}
 .detailbutton{
    margin-top: 8px;
    border: 2px solid #000;
    border-radius: 30px;
    padding: 13.2px 0;
    text-align: center;
    width: 350px;
}
 .detailbutton:hover{
    background: #FFFFFF4D;
    cursor: pointer;
}
.detailbutton a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

/* .salelist{
    background-color: #E0E0E0;
    padding-bottom: 40px;
} */
/* .slst{
    display: flex;
    flex-direction: row;

} */
/* .salelist li{
    display: inline;
} */

.salelist-img{
    margin-top: 40px;
    max-width: 350px;
    height: 540px;
}
.img-1{
    background: url('image/index6.jpg') center no-repeat;
    background-size: cover;
}
.img-2{
    background: url('image/index7.jpg') center no-repeat;
    background-size: cover;
}
.img-3{
    background: url('image/index8.jpg') center no-repeat;
    background-size: cover;
}
.salelist h4{
    font-weight: 600;
    font-size:24px;
}
.salelist .type{
    font-size: 16px;
    margin-bottom: 16px;
}
.salelist .price{
    font-size: 16px;
}
.salelist .price span{
    font-size: 16px;
    text-decoration: line-through;
    color: #8D8D8D;
}
.salelist .fragrance-soldout{
    width: 350px;
    height: 540px;
    /* opacity: 1;
    background-position: center; */
    background-color:  rgba(0, 0, 0, 0.3);
    /* line-height: 540px; */
    top: 40px;
    left: 0px;
    color: #fff;
    font-weight: 600;
    font-size: 24px;
}

.will{
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-around;
}
.will-img{
    background: url("image/index9.jpg") center no-repeat;
    background-size: cover;
    /* width: 730px; */
    height: 520px;
}
.will-text{
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.will-text h5{
    font-size: 32px;
    font-weight: bold;
}
.will-text p{
    margin-bottom: 16px;
}
.will-text a{
    color: #AC8A46;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    font-family:  PingFang TC;
    cursor: pointer;
}
.will-text a:hover{
    text-decoration: underline;
}
.endbanner{
    background: url("image/index10.jpg") center no-repeat;
    height: 600px;
    background-size: 130%; 
}
.endbanner h6{
    font-weight: 600;
    font-family:  PingFang TC;
    font-size: 32px;
    color: #8D8D8D;
}
.endbanner-title{
    padding-top: 312px;
}
.subscribe{
    margin-top: 20px;
    width: 350px;
    height: 60px;
    border:2px solid #916000; 
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.subscribe .emailinput{
    /* display: block; */
    background: #fff;
    padding-left: 16px;
    max-width: 219px;
    width: 100%;
    max-height: 60px;
    height: 100%;
}
.subscribe .btn{
    display: flex; 
    justify-content: center;
    align-items: center;
    background: #916000;
    color: #fff;
    max-width: 131px;
    width: 100%;
    max-height: 60px;
    height: 100%;
}
.btn:hover{
    background: darken(#f00, 50%);
    cursor: pointer;
}
.endbanner-bar{
    
    display: flex;
    flex-direction: row;
    background: #916000;
    height: 80px;
}
.endbanner-st{
    max-width: 1140px;
    display: flex;
    /* width: 343px; */
    justify-content: space-between;
    align-items: center;
}
.endbanner-st img{
    height: 38px;
    margin-right: 20px;
}
.endbanner-st p{
    color: #fff;
    font-size: 14px;
    /* font-weight: medium; */
}
.endbanner-en{
    max-width: 1140px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.endbanner-en a{
    padding: 20px;
    text-decoration: none;
    /* margin-left: 36px; */
    color: #fff;
    font-weight: normal;
}
.endbanner-en a:hover{
    background-color: #fff;
    color: #916000;
}
@media(max-width: 768px) {
    .contain{ 
        max-width: 768px;
        width: 100%;
        padding: 0px 15px;
    }
    .header .menu .art{
        width: 72px;
    }
    .header .menu span{
        display: none;
    }
    .header .ham{
        position: absolute;
      left: 0;
      top: 100%;
      width: 100%;
      max-height: 0px;
      transition: all 0.8s;
      overflow: hidden;
      z-index: 120;
    }
    .header .ham li{
        color: #fff;
        background-color: #707070;
        border-bottom:2px solid #fff ;
    }
    .header .hambtn .num{
        display: block;
        position: absolute;
        top: -10px;
        right: 0;
        background: #916000;
        color: #fff;
        border-radius: 100%;
        width: 10px;
        font-size: 8px;
        text-align: center;
    }
    .m-nono{
        display: none;
    }
    .header .menu{
        display: flex;
        justify-content: end;
    }
    .header .hambtn{
        display: block; 
    }
    .header{
        position: relative;
    }
    .ham {
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        max-height: 0px;
        transition: all 0.8s;
        overflow: hidden;
        z-index: 120;
      }
      .ham.active {
        max-height: 200px;
      }
      
      .ham li a {
        display: block;
        background: #916000;
        color: #FFFFFF;
        border-top: 1px solid #FFFFFF;
        padding: 16px 0;
        text-decoration: none;
      }
      .ham li a:hover {
        background: hsl(40, 86%, 19%);
      }
    .header .cart{
        color: #8d8d8d;
        display: inline-block;
        margin-top: 10px;
        padding: 0px 10px;
    }
    .header .act{
        color: #8d8d8d;
        display: inline-block;
        margin-top: 10px;
        padding: 0px 10px;
    }
    .text, .detailbutton{
        margin: 0 auto;

    }
    .salelist{
        display: flex;
        align-items: flex-end;
    }
    .slst{
        display: flex;
        flex-direction: column;
        
    }
    .endbanner{
        display: flex;
        justify-content: center;
    }
    .endbanner-en{
        display: none;
    }
    .endbanner-st{
        display: flex;
        justify-content: space-between;
    }
}
@media(max-width: 576px){
    
    .contain{ 
        max-width: 576px;
        width: 100%;
        padding: 0px 15px;
    }
    .banner{
        background-position: 10% 10%;
        background-size: 230%;
        height: 480px;
    }
    .banner-text h1{
        font-size: 32px;
    }
    .banner-text p{
        font-size: 20px;
    }
    .banner-text .sec{
        width: 300px;
    }
    
    
    .topProduct-content{
        justify-content: center;
        align-items: center;
    }
    .topProduct-content-end{
        margin-bottom: 40px;
    }
    .slst{
        flex-direction: column;
    }
    .salelist{
        flex-direction: column;
        margin-bottom: 40px;
    }
    .salelist-img{
        height: 350px;
        width: 100%;
    }
    .sold{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .will{
        margin-bottom: 40px;
    }
    .will-img{
        background: url("image/index11.jpg");
        /* height: 520px; */
    }
    .endbanner{
        /* background: url("image/index10.jpg");
        background-repeat: no-repeat; */
        background-position: -70px 0px;
        /* height: 600px; */
        background-size: 200%; 
    }
    .endbanner-en{
        display: none;
    }
    .endbanner-st{
        display: flex;
        justify-content: space-between;
    }
    .subscribe{
        max-width: 320px;
    }
    .emailinput{
        max-width: 200px;
    }
    .btn{
        max-width: 120px;
    }
}

